<ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu>
      <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
      <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
      </ul>
  </li>
  <li nz-submenu>
      <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
      <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
      </ul>
  </li>
  <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
</ul>