<nz-table #basicTable [nzData]="tableDatas.dataSet" [nzShowPagination]="tableDatas.nzShowPagination" [nzBordered]="tableDatas.nzBordered"
  [nzTitle]="tableDatas?.nzTitle">
  <thead>
    <tr>
      <th *ngFor="let th of tableDatas.dataTh;let i=index" [nzShowFilter]="th?.nzShowFilter" [nzShowSort]="th?.nzShowSort"
        [nzFilters]="th?.nzShowFilterList" nzSortKey="th?.nzSortKey" (nzFilterChange)="filter($event)" (nzSortChange)="sort(th?.nzSortKey,$event)">{{th.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.number}}</td>
      <td>{{data.address}}</td>
      <td *ngIf="tableDatas.nzShowAction">
        <a (click)="edit(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
